.message-posts-by-category {
  text-align: center;
  margin-top: 1em;
}

.message-posts-category-name {
  text-transform: capitalize;
  font-style: italic;
  color: #005082;
  text-shadow: 1px .5px rgba(0,0,0,.15);
}

.message-posts-by-category small {
  font: 400 .9rem Roboto,Arial,Helvetica,Sans-serif;
  display: block;
  text-transform: initial;
  margin: 0;
}

.posts-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.message-posts-by-category h2 {
  margin: 0;
}

.list-posts {
  display: flex;
  justify-content: space-between;
}

.list-posts li {
  list-style-type: none;
  border: 1px solid black;
  padding: 20px;
}

.list-posts .post-header{
  margin-bottom: .6rem;
  font: 800 1.3rem Roboto,Arial,Helvetica,Sans-serif;
  word-break: break-word;
}

.list-posts .post-header a {
  color: #222;
  text-decoration: none;
}

.list-posts .post-header a:hover {
  text-decoration: underline !important;
}

.list-posts .edit a, .list-posts .delete{
  border: none;
  outline: none;
  font-size: 1rem;
  margin: 0 .5rem;
  padding: .1rem .3rem;
}

.list-posts .edit a {
  color: #1a75eb;
}

.list-posts .delete {
  background: #ff5151;
  color: #fff;
}

@media screen and (min-width: 734px) {
  .message-posts-by-category {
    font-size: 3rem;
    line-height: 1.6;
    margin-bottom: 30px;
  }
}

.order-by-box {
  margin-top: 2rem;
  text-align: center;
}