.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-image: linear-gradient(90deg, #02b3e4 0, #02ccba);
  max-height: 45px;
  width: 100%;
}

.logo a {
  color: white;
    text-decoration: none;
}

.logo h1{
  font-family: 'Inconsolata', monospace;
  text-transform: uppercase;
  letter-spacing: .2rem;
  margin: 0;
}

.create-post a {
  text-decoration: none;
  padding: .7rem 1rem;
  background: #1a75eb;
  color: #fff;
  font-size: .8rem;
  outline: none;
  border: none;
  border-radius: .3rem;
}

.create-post a:hover {
  background: #3488ee;
}

.main-menu {
  justify-content: center;
  align-content: center;
  width: 100%;
  align-self: center;
}

.main-menu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  height: 3rem;
  margin: 0 auto;
  padding: 0;
}


.main-menu ul li {
  list-style-type: none;
}

.main-menu ul li a {
  cursor: pointer;
  padding: 3px 10px;
  color: white;
  text-decoration: none;
  font: 700 .9rem Roboto,Arial,Helvetica,Sans-serif;
  text-transform: capitalize;
}

.main-menu ul li a:hover {
  text-decoration: underline;
}

.main-menu ul li a.active {
  color: rgb(86, 86, 86);
  font-weight: 800;
}

@media screen and (min-width: 734px) {
  .header {
    height: 5rem;
    flex-wrap: nowrap;
  }
  .main-menu {
    flex-grow: 1;
    width: auto;
    max-width: 30rem;
  }
  .create-post {
    order: 1;
  }
}